<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <a href="/">
                <img src="/images/pbcLogo.jpg" alt="PBC Logo" width="120"/>
            </a>
        </div>

        <div class="footer-section">
            <h3>Portadown Boat Club</h3>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/safety">Safety</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Find Us</h3>
            <p><strong>Portadown Boat Club</strong><br>
                Meadow Lane, <br>
                Portadown, <br>
                BT62 3TN
            </p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Portadown Boat Club. All rights reserved.</p>
    </div>
    <script src="/script.js"></script>
</footer>
