<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<%- include('includes/header') %>

<main>
    <h2>About Us</h2>
    <p>Portadown Boat Club welcomes members of all ages, abilities and ambition, from 12-year-old juniors right through to Masters of any age.</p>
    <p>We are lucky enough to have access to a large stretch of the Upper Bann. One mile upstream from the club to the Point of Whitecote, and over nine miles downstream to the Bann Foot of Lough Neagh.</p>
    <h3>Water Training Sessions</h3>
    <ul>
        <li>Junior Girls: Saturday: 7:30 - 10:00</li>
        <li>Junior Boys: Saturday: 10:00 - 12:30</li>
        <li>Masters: Sunday: 8:00 - 10:30</li>
    </ul>
    <p>Portadown have two annual events the Regatta and the Marascull.</p>

    <h3>Meet Our Committee</h3>

    <h3>Meet Our Coaches</h3>
</main>

<%- include('includes/footer')%>
</body>
</html>