<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<%- include('includes/memberHeader') %>

<main>
    <h2>Your Calendar</h2>
    <p>Calendar and stuff</p>
    <h2>Upcoming Events & Races</h2>
    <p>Calendar & Links to Rowing Ireland Event Listing</p>


</main>

<%- include('includes/footer')%>
</body>
</html>