<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<%- include('includes/memberHeader') %>

<main>
    <h2>PBC Dashboard</h2>
    <p>Calendar and stuff</p>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>This is your dashboard.</p>

</main>

<%- include('includes/footer')%>
</body>
</html>