<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<%- include('includes/header') %>


    <main>
        <h1>Welcome to Portadown Boat Club</h1>
        <p>since 1877</p>
    </main>

<%- include('includes/footer')%>
</body>
<link href="/styles.css" rel="stylesheet">
<script type="text/javascript" src="script.js"></script>
</html>