<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<%- include('includes/header') %>

<main>
    <h2>News</h2>
    <section class="upcoming-events">
        <h2>Upcoming Events</h2>
        <p>Portadown Boat Club Regatta: May 3rd </p>
    </section>

    <!-- Recent Articles -->
    <section class="recent-news">
        <h2>Recent Articles</h2>
        <ul>
            <li>
                <a href="https://www.irishnews.com/sport/rowing-portadown-marascull-tests-teams-resilience-as-condition-push-them-to-the-limit-HNSF4G32ONFTHEOLJDEDQFI26I/" target="_blank">Portadown Marascull tests teams’ resilience as condition push them to the limit</a>
            </li>
            <li>
                <a href="https://www.belfastlive.co.uk/sport/other-sport/portadown-boat-club-celebrating-following-27129942" target="_blank">Portadown Boat Club celebrating following gold medal success</a>
            </li>
            <li>
                <a href="https://www.irishnews.com/sport/othersports/2023/10/13/news/marascull-3695469/" target="_blank">Paralympic medalist Eilish Byrne swaps four-legged friend for row boat to tackle Portadown Marascull</a>
            </li>
        </ul>
    </section>

    <section class="external-news">
        <h2>Rowing Ireland Events</h2>
        <a href="https://www.rowingireland.ie/regatta-hors/events/" target="_blank">Rowing Ireland Events</a>
        <a href="https://www.rowingireland.ie/news/" target="_blank">Rowing Ireland News</a>
    </section>
</main>

<%- include('includes/footer')%>
</body>
</html>